FUnMcNSVQY2xeja5.json
{
  "createdAt": "2025-12-02T08:39:31.722Z",
  "updatedAt": "2025-12-02T10:31:23.837Z",
  "id": "FUnMcNSVQY2xeja5",
  "name": "pgp locked txt file",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Code",
              "requiredField": true
            },
            {
              "fieldLabel": "File to encrypt",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "9029e205-b0b2-4b0f-99f1-62856bca826b",
      "name": "On form submission",
      "webhookId": "9ed31649-185a-4d89-a94a-f0e897dce2cf"
    },
    {
      "parameters": {
        "jsCode": "// Get the decrypted CSV from Execute Command → stdout\nconst decryptedCsv = $item(0).$node[\"Execute Command\"].json.stdout;\n\n// Return as plain CSV text\nreturn [\n  {\n    json: {\n      csv: decryptedCsv\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "id": "6bb0d38f-8698-4591-9fc6-bdd0aa9ea818",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "File to encrypt",
        "destinationKey": "encryptedFile",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        180,
        0
      ],
      "id": "bc2cfcbe-9df5-4a31-a8be-a09df40fc762",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "command": "=gpg --batch --yes --decrypt \"{{ $binary.file.filePath }}\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        0
      ],
      "id": "af279453-d9ac-4770-a11e-7a5cba0e6d55",
      "name": "Execute Command"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6e7e4677-0964-4ecb-a612-130d38636ab3",
  "triggerCount": 0,
  "tags": []
}