GFRdmVhJneFxoTgs.json
{
  "createdAt": "2025-03-20T09:40:09.855Z",
  "updatedAt": "2025-07-02T07:38:50.882Z",
  "id": "GFRdmVhJneFxoTgs",
  "name": "Data to Intrali",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('Merge').item.json.fileName }}",
          "headerRow": true,
          "sheetName": "=Sheet1"
        }
      },
      "id": "2065d04e-9bc5-4664-afd9-916a70568065",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3120,
        1620
      ],
      "retryOnFail": false,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-api-uat.viprsolutions.com/api/hub/file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Webhook - Circles').item.json.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data0"
            },
            {
              "name": "submittedBy",
              "value": "={{ $('Webhook - Circles').item.json.body.submittedBy }}"
            },
            {
              "name": "tenantCode",
              "value": "={{ $('Webhook - Circles').item.json.body.tenantCode }}"
            }
          ]
        },
        "options": {}
      },
      "id": "878cfc71-26db-4d90-95e8-ea4e5197488e",
      "name": "POST File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        560
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-api-uat.viprsolutions.com/api/hub/metadata",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Webhook - Circles').item.json.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"uploadedFileGlobalId\": \"{{ $json.result.uploadedFileGlobalId }}\", \n\"isBulkUpload\": {{ $('Webhook - Circles').item.json.body.isBulkUpload }}, \n\"umr\": \"{{ $('Webhook - Circles').item.json.body.umr }}\", \n\"worksheets\": [{        \n    \"name\": \"Sheet1\",        \n    \"riskCode\": null,        \n    \"isAuto\": {{ $('Webhook - Circles').item.json.body.isAuto }},        \n    \"bordereauxTypeId\": {{ $('Webhook - Circles').item.json.body.bordereauxTypeId }},\n    \"isReportingPeriodTakenFromBordereaux\": {{ $('Webhook - Circles').item.json.body.isReportingPeriodTakenFromBordereaux }},        \n    \"reportingPeriodStart\": \"{{ $('Webhook - Circles').item.json.body.reportingPeriodStart }}\",\n    \"reportingPeriodEnd\": \"{{ $('Webhook - Circles').item.json.body.reportingPeriodEnd }}\"    \n}]\n} ",
        "options": {}
      },
      "id": "fa2b4d90-9534-431d-ac34-f7d5b87fe92f",
      "name": "POST metedata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        540
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Data submitted sucessfully",
        "options": {
          "responseCode": 200
        }
      },
      "id": "34a09dbe-beed-4469-87a4-d1b49b68280c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3340,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=There was a problem with an API submission:\n\nFailed to post metadata.\n\nSee email report for full details.",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a144842b-4147-43e9-b520-4e9683e53a4e",
      "name": "Respond to Webhook5",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3280,
        1000
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Failed to post file to Intrali.",
        "options": {
          "responseCode": 400
        }
      },
      "id": "2c930239-1bea-477c-88eb-0411e261554d",
      "name": "Respond to Webhook4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2640,
        780
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Failed to convert file to VIPR format.",
        "options": {
          "responseCode": 400
        }
      },
      "id": "3b342ac8-1241-4b6e-abba-dd1cb2e3f434",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3520,
        1880
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Failed to split JSON",
        "options": {
          "responseCode": 400
        }
      },
      "id": "95864f9a-bd69-4f9a-83e5-88d3934b1f24",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2960,
        1880
      ]
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2380,
        1660
      ],
      "id": "5cc23ca9-af6a-43d5-b570-10a491a236ee",
      "name": "Extract from File",
      "retryOnFail": false,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2760,
        1640
      ],
      "id": "45a38bf5-5fca-4a24-ab62-4b55f0eacd64",
      "name": "Split Out",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Failed to extract JSON from attachement",
        "options": {
          "responseCode": 400
        }
      },
      "id": "74b3a256-5389-4176-9004-26e3575ac71f",
      "name": "File attachement failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2580,
        1880
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "No file attached or URI provided",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -800,
        760
      ],
      "id": "b51ac8c2-cc5b-420f-ba0f-07a102c4a18e",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "circles-json",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data",
          "rawBody": false
        }
      },
      "id": "55dad5ed-f38f-44b3-875f-258fb906b281",
      "name": "Webhook - Circles",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1440,
        560
      ],
      "webhookId": "2807314d-7a6d-4314-b298-f05cffe32fa6"
    },
    {
      "parameters": {
        "jsCode": "// Access the first item's input JSON error message\nconst input = items[0].json.error.message;\n\n// Remove the status code prefix and trim the result\nconst jsonString = input.substring(input.indexOf('-') + 1).trim();\n\n// Parse the JSON string\nconst parsed = JSON.parse(jsonString);\n\n// Return the extracted message from the parsed JSON\nreturn [\n  {\n    json: {\n      serverResponse: JSON.parse(parsed)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        760
      ],
      "id": "8c4a6ce1-7c48-47dd-a9a8-53be2e02276f",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a0a07b6-9d2f-4753-866a-6a3e7425e86d",
                    "leftValue": "={{ $binary.data0.fileExtension }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "csv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data0.fileExtension }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "13db1835-8f5a-4d77-8fe7-04835100e103"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xlsx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7a5074e-e0ef-4f74-aa3c-daa4a731cc75",
                    "leftValue": "={{ $binary.data0.fileExtension }}",
                    "rightValue": "xls",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "xls"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd5bf38d-00fc-40aa-9344-2bc1538a1632",
                    "leftValue": "={{ $binary.data0.fileExtension }}",
                    "rightValue": "json",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        900,
        540
      ],
      "id": "d65dbad2-8bb9-4d67-8d06-f0aff51210e6",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-api-uat.viprsolutions.com/api/hub/file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Webhook - Circles').item.json.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data0"
            },
            {
              "name": "submittedBy",
              "value": "={{ $('Webhook - Circles').item.json.body.submittedBy }}"
            },
            {
              "name": "tenantCode",
              "value": "={{ $('Webhook - Circles').item.json.body.tenantCode }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55281e86-4c07-4cc4-a49c-50be725235ec",
      "name": "POST File1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        -300
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Failed to post file to Intrali.",
        "options": {
          "responseCode": 400
        }
      },
      "id": "0ac2c648-a4ca-4507-a55e-6934c8911586",
      "name": "Respond to Webhook7",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2660,
        -60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-api-uat.viprsolutions.com/api/hub/metadata",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Webhook - Circles').item.json.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"uploadedFileGlobalId\": \"{{ $json.result.uploadedFileGlobalId }}\", \n\"isBulkUpload\": {{ $('Webhook - Circles').item.json.body.isBulkUpload }}, \n\"umr\": \"{{ $('Webhook - Circles').item.json.body.umr }}\", \n\"worksheets\": [{ \n    \"name\": \"csv\",\n    \"riskCode\": null,        \n    \"isAuto\": {{ $('Webhook - Circles').item.json.body.isAuto }},        \n    \"bordereauxTypeId\": {{ $('Webhook - Circles').item.json.body.bordereauxTypeId }},\n    \"isReportingPeriodTakenFromBordereaux\": {{ $('Webhook - Circles').item.json.body.isReportingPeriodTakenFromBordereaux }},        \n    \"reportingPeriodStart\": \"{{ $('Webhook - Circles').item.json.body.reportingPeriodStart }}\",\n    \"reportingPeriodEnd\": \"{{ $('Webhook - Circles').item.json.body.reportingPeriodEnd }}\"    \n}]\n} ",
        "options": {}
      },
      "id": "cfb384f3-ae8e-4141-907d-e165d1a831f4",
      "name": "POST metedata1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        -640
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Data submitted sucessfully",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cc289c57-73a9-46f6-ab96-be37e444618a",
      "name": "Respond to Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3660,
        -660
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=There was a problem with an API submission:\n\nFailed to post metadata.\n\nSee email report for full details.",
        "options": {
          "responseCode": 400
        }
      },
      "id": "bb436431-b325-4ef6-8754-efbf383ee455",
      "name": "Respond to Webhook8",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3600,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Access the first item's input JSON error message\nconst input = items[0].json.error.message;\n\n// Remove the status code prefix and trim the result\nconst jsonString = input.substring(input.indexOf('-') + 1).trim();\n\n// Parse the JSON string\nconst parsed = JSON.parse(jsonString);\n\n// Return the extracted message from the parsed JSON\nreturn [\n  {\n    json: {\n      serverResponse: JSON.parse(parsed)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        -420
      ],
      "id": "abf8d34c-9179-4332-8f3e-47f217fbc22e",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-api-uat.viprsolutions.com/api/hub/file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Webhook - Circles').item.json.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            },
            {
              "name": "submittedBy",
              "value": "={{ $('Webhook - Circles').item.json.body.submittedBy }}"
            },
            {
              "name": "tenantCode",
              "value": "={{ $('Webhook - Circles').item.json.body.tenantCode }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0237df6-ad15-47cf-9a34-13786bb278e9",
      "name": "POST File2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        1620
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal-api-uat.viprsolutions.com/api/hub/metadata",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('Webhook - Circles').item.json.headers.authorization }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"uploadedFileGlobalId\": \"{{ $json.result.uploadedFileGlobalId }}\", \n\"isBulkUpload\": {{ $('Webhook - Circles').item.json.body.isBulkUpload }}, \n\"umr\": \"{{ $('Webhook - Circles').item.json.body.umr }}\", \n\"worksheets\": [{        \n    \"name\": \"Sheet1\",        \n    \"riskCode\": null,        \n    \"isAuto\": {{ $('Webhook - Circles').item.json.body.isAuto }},        \n    \"bordereauxTypeId\": {{ $('Webhook - Circles').item.json.body.bordereauxTypeId }},\n    \"isReportingPeriodTakenFromBordereaux\": {{ $('Webhook - Circles').item.json.body.isReportingPeriodTakenFromBordereaux }},        \n    \"reportingPeriodStart\": \"{{ $('Webhook - Circles').item.json.body.reportingPeriodStart }}\",\n    \"reportingPeriodEnd\": \"{{ $('Webhook - Circles').item.json.body.reportingPeriodEnd }}\"    \n}]\n} ",
        "options": {}
      },
      "id": "29638ec7-3b40-4b9b-9802-c0ac0db6aea0",
      "name": "POST metedata2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        1620
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=There was a problem with an API submission:\n\nFailed to post metadata.\n\nSee email report for full details.",
        "options": {
          "responseCode": 400
        }
      },
      "id": "bdc0a47e-fe47-411f-b5ff-e66f92dc9ddd",
      "name": "Respond to Webhook9",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5020,
        2080
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Failed to post file to Intrali.",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b262f3e0-c1c3-4f4e-bf2e-66c9078c9da6",
      "name": "Respond to Webhook10",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4320,
        1860
      ]
    },
    {
      "parameters": {
        "jsCode": "// Access the first item's input JSON error message\nconst input = items[0].json.error.message;\n\n// Remove the status code prefix and trim the result\nconst jsonString = input.substring(input.indexOf('-') + 1).trim();\n\n// Parse the JSON string\nconst parsed = JSON.parse(jsonString);\n\n// Return the extracted message from the parsed JSON\nreturn [\n  {\n    json: {\n      serverResponse: JSON.parse(parsed)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        1840
      ],
      "id": "47204d11-3635-43c8-adb4-382dfa45f7ce",
      "name": "Code2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Data submitted sucessfully",
        "options": {
          "responseCode": 200
        }
      },
      "id": "6e7e6b6a-fd2c-425f-8466-3c9c0967079d",
      "name": "Respond to Webhook11",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        5080,
        1620
      ]
    },
    {
      "parameters": {
        "content": "## CSV\n",
        "height": 1120,
        "width": 2400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1980,
        -780
      ],
      "id": "7cbede92-0552-46bb-9290-a1497b1eae7b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## JSON\n",
        "height": 1100,
        "width": 3440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1980,
        1460
      ],
      "id": "8e117489-0efe-47cb-b2e7-1f05e103e0b8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const { read: xlsxRead } = require('xlsx');\n\nconst data = items[0].binary.data;\n\nworkbook = xlsxRead(data.data);\n\nreturn workbook.SheetNames.map((s) => {\n  return {\n    json: {\n      name: s,\n    }\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -420
      ],
      "id": "8c2f5da7-af84-40d9-bf8b-241ca7981427",
      "name": "XLSX Code Node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c60f5d-d919-4d8f-913d-55943e661bcc",
              "name": "fileName",
              "value": "={{ $binary.data0.fileName }}.xlsx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        1600
      ],
      "id": "65e9d71c-4bd6-4c7c-96da-ce9c4bafd441",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2100,
        1660
      ],
      "id": "e879c387-25ca-4b42-9828-78e97a733eb4",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7a5074e-e0ef-4f74-aa3c-daa4a731cc75",
                    "leftValue": "={{ $json.body.uri }}",
                    "rightValue": "xls",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "uri"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a0a07b6-9d2f-4753-866a-6a3e7425e86d",
                    "leftValue": "={{ Object.keys($binary)[0] }}",
                    "rightValue": "csv",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "File"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1020,
        560
      ],
      "id": "535f62e7-c923-479e-b9cb-2b4f4da215ca",
      "name": "Switch1"
    },
    {
      "parameters": {
        "url": "={{ $json.body.uri }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        80
      ],
      "id": "979567a7-a5b0-4aa6-96a9-93b93291bd7a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cbcb582-6554-4779-aa8a-cfdffb5a58ca",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        140
      ],
      "id": "b96a7ad6-8050-4e3a-ba75-d626e7ae324e",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Could not get file from URI",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -160,
        360
      ],
      "id": "7d09b006-b2bf-48ba-a6d1-93028771e6e0",
      "name": "Respond to Webhook12"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -120,
        60
      ],
      "id": "f0ca9abb-54e8-43ba-abc3-6d9bda939ad1",
      "name": "Convert to File1"
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "POST File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST File": {
      "main": [
        [
          {
            "node": "POST metedata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST metedata": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File attachement failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Circles": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook6": {
      "main": [
        []
      ]
    },
    "File attachement failure": {
      "main": [
        []
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Respond to Webhook2": {
      "main": [
        []
      ]
    },
    "Respond to Webhook4": {
      "main": [
        []
      ]
    },
    "Respond to Webhook5": {
      "main": [
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "POST File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST File1": {
      "main": [
        [
          {
            "node": "POST metedata1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook7": {
      "main": [
        []
      ]
    },
    "POST metedata1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        []
      ]
    },
    "Respond to Webhook8": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST File2": {
      "main": [
        [
          {
            "node": "POST metedata2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST metedata2": {
      "main": [
        [
          {
            "node": "Respond to Webhook11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook9": {
      "main": [
        []
      ]
    },
    "Respond to Webhook10": {
      "main": [
        []
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Respond to Webhook9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook11": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook12": {
      "main": [
        []
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/London",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d9e2a698-a3db-436b-80ab-2b61dd6fde20",
  "triggerCount": 1,
  "tags": []
}