mPj6StRKYC04pFLx.json
{
  "createdAt": "2025-11-27T11:29:59.237Z",
  "updatedAt": "2025-11-27T11:29:59.237Z",
  "id": "mPj6StRKYC04pFLx",
  "name": "My workflow 9",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "c2bfe8af-512e-4ba0-9e94-9c9c7f241487",
      "name": "XML"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Generic XML to Flattened CSV Rows\n// Defensive version with recursion limits to prevent worker crashes\n// \n// SETUP: Place an XML node BEFORE this Code node to parse the XML first\n\n// Defensive XML/object flatten to CSV row for *single* input (runOnceForEachItem mode)\nconst MAX_DEPTH = 20;\nconst MAX_ROWS = 10000;\nconst item = $input.item();\nconst parsed = item.json;\n\nif (!parsed || Object.keys(parsed).length === 0) {\n  return item; // or: return {}; to skip\n}\n\ntry {\n  const rows = flattenToRows(parsed, '', {}, 0);\n  return rows.slice(0, MAX_ROWS).map(row => ({ json: row }));\n} catch (error) {\n  return [{ json: { _error: error.message } }];\n}\n\nfunction flattenToRows(obj, prefix, parentContext, depth) {\n  // Depth guard\n  if (depth > MAX_DEPTH) {\n    const row = { ...parentContext };\n    row[prefix || '_value'] = JSON.stringify(obj);\n    return [row];\n  }\n  \n  // Null/undefined\n  if (obj === null || obj === undefined) {\n    return [{ ...parentContext }];\n  }\n  \n  // Primitive\n  if (typeof obj !== 'object') {\n    const row = { ...parentContext };\n    if (prefix) row[prefix] = obj;\n    return [row];\n  }\n  \n  // Array - explode\n  if (Array.isArray(obj)) {\n    if (obj.length === 0) {\n      return [{ ...parentContext }];\n    }\n    \n    const exploded = [];\n    for (let i = 0; i < obj.length; i++) {\n      const elementRows = flattenToRows(obj[i], prefix, { ...parentContext }, depth + 1);\n      exploded.push(...elementRows);\n    }\n    return exploded;\n  }\n  \n  // Object - iterate keys\n  let rows = [{ ...parentContext }];\n  const keys = Object.keys(obj);\n  \n  for (const key of keys) {\n    const value = obj[key];\n    const newPrefix = prefix ? `${prefix}.${key}` : key;\n    \n    if (value === null || value === undefined) {\n      continue;\n    }\n    \n    if (typeof value !== 'object') {\n      // Primitive - add to all rows\n      for (let i = 0; i < rows.length; i++) {\n        rows[i][newPrefix] = value;\n      }\n    } else if (Array.isArray(value)) {\n      // Array - explode\n      const newRows = [];\n      for (const currentRow of rows) {\n        const exploded = flattenToRows(value, newPrefix, currentRow, depth + 1);\n        newRows.push(...exploded);\n      }\n      rows = newRows;\n    } else {\n      // Nested object\n      const newRows = [];\n      for (const currentRow of rows) {\n        const nested = flattenToRows(value, newPrefix, currentRow, depth + 1);\n        newRows.push(...nested);\n      }\n      rows = newRows;\n    }\n  }\n  \n  return rows;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "id": "b34c78a5-da27-439f-bfd3-73e930721c50",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "formTitle": "xml",
        "formFields": {
          "values": [
            {
              "fieldLabel": "xml",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -20,
        20
      ],
      "id": "de30776d-1370-480e-bc64-73c71984e3c8",
      "name": "On form submission1",
      "webhookId": "6f838199-5e3a-4059-a32c-0e926ebcb182"
    },
    {
      "parameters": {
        "operation": "xml",
        "binaryPropertyName": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        20
      ],
      "id": "f4cf364e-be67-4bf9-a86a-b1904b749d2d",
      "name": "Extract from File1"
    }
  ],
  "connections": {
    "XML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "48c825ec-8235-4852-bbc7-4336de1a32cc",
  "triggerCount": 0,
  "tags": []
}