oybsdKiXmJxFn1aE.json
{
  "createdAt": "2025-11-24T12:19:19.591Z",
  "updatedAt": "2025-11-26T09:36:53.374Z",
  "id": "oybsdKiXmJxFn1aE",
  "name": "Fixed width map and convert",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Data load",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "multipleFiles": false
            },
            {
              "fieldLabel": "Mapping file",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        -20
      ],
      "id": "00051062-d753-486d-b8da-55cc9717d451",
      "name": "On form submission",
      "webhookId": "601bf544-fc4c-420b-a0e2-2559540cc6d6"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1380,
        0
      ],
      "id": "cd4d8b2a-9958-41a4-882f-e15415cab5b3",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "   // First Code node - Split file into lines\n   const items = $input.all();\n   const fileContent = items[0].binary?.data?.data \n     ? Buffer.from(items[0].binary.data.data, 'base64').toString('utf-8')\n     : items[0].json.data || items[0].json.content || '';\n   \n   const lines = fileContent.split('\\n');\n   return lines\n     .map(line => ({ json: { line: line.trim() } }))\n     .filter(item => item.json.line);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        160
      ],
      "id": "f220669e-62db-4fb8-8a6f-602aaeaefa95",
      "name": "Split lines"
    },
    {
      "parameters": {
        "jsCode": "// Get field definitions from \"Extract Mapping File\" node\nconst fieldDefinitions = $('Extract Mapping File').all().map(item => item.json);\nconsole.log('Field definitions loaded:', fieldDefinitions.length);\n\n// Get data from \"Split lines\" node\nconst dataItems = $('Split lines').all();\nconsole.log('Data items to parse:', dataItems.length);\n\nconst parsedItems = [];\n\nfor (const item of dataItems) {\n  const line = item.json.data || item.json.line || item.json;\n  \n  // Debug first item\n  if (parsedItems.length === 0) {\n    console.log('First item structure:', JSON.stringify(item.json));\n    console.log('Line type:', typeof line);\n    console.log('Line sample:', String(line).substring(0, 100));\n  }\n  \n  if (!line || typeof line !== 'string' || line.trim().length === 0) {\n    console.log('Skipping empty/invalid line');\n    continue;\n  }\n  \n  // Parse the line using field definitions\n  const parsed = {};\n  \n  for (const field of fieldDefinitions) {\n    const fieldName = field[\"Field Name\"];\n    const length = parseInt(field[\"Length\"], 10);\n    const position = parseInt(field[\"Position for fixed length files only\"], 10);\n    \n    const startIndex = position - 1;\n    const endIndex = startIndex + length;\n    const value = line.substring(startIndex, endIndex).trim();\n    \n    parsed[fieldName] = value;\n  }\n  \n  parsedItems.push({ json: parsed });\n}\n\nconsole.log('Total parsed items:', parsedItems.length);\n\nreturn parsedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "26736ebc-cb5f-41fd-8b92-2e914f05d235",
      "name": "Mapping",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        260,
        160
      ],
      "id": "dacc7e49-644b-403f-9549-0b7c4172e28a",
      "name": "Extract Data File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ Object.keys($binary)[1] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        900,
        0
      ],
      "id": "d35f41e0-37be-4523-b8f9-908cfdbceebc",
      "name": "Extract Mapping File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        700,
        0
      ],
      "id": "fd2f72ea-b892-4b47-9842-6b1f41c70f47",
      "name": "Merge"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Data File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split lines": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mapping": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data File": {
      "main": [
        [
          {
            "node": "Split lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Mapping File": {
      "main": [
        [
          {
            "node": "Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract Mapping File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "edc8e6af-3b96-4c55-8353-3defe151066a",
  "triggerCount": 0,
  "tags": []
}