rNvTT7wOUqczsrTA.json
{
  "createdAt": "2025-11-28T14:45:18.790Z",
  "updatedAt": "2025-11-28T14:49:08.368Z",
  "id": "rNvTT7wOUqczsrTA",
  "name": "HSB Wkflw 2",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -220,
        0
      ],
      "id": "93e83787-2551-4403-820d-321c902842dc",
      "name": "On form submission",
      "webhookId": "3d64f931-bf8f-4d45-be9d-7c3eff40fb34"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b683d79b-d283-4a36-973f-352380196fcc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "570a155c-cc0b-46fe-a5c0-f1db743d07bc",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "e89b9553-0410-41c9-8537-1d092308bbb4",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ac9ce1d0-177e-4349-83c3-89540a7e1366",
  "triggerCount": 0,
  "tags": []
}